DATABASE_URL='postgres://postgres:xxx@localhost/knockturn'
WALLET_URL='http://localhost:3420'
WALLET_USER='grin'
WALLET_PASS='Gr2Qi2yy3lEy6hRBJL3R'
RUST_LOG="debug,h2=error,tokio_reactor=error,trust_dns_proto=error"
COOKIE_SECRET="123hfdsfsfd54324324324234324234232"
HOST="0.0.0.0:3000"
DOMAIN="http://castle.yourowncryp.to:3000/"
TLS_FOLDER="/etc/letsencrypt/live/castle.yourowncryp.to"
