{% extends "base_customer.html" %}

{% block title %} Payment {% endblock %}

{% block head %}
  <style>
  </style>
{% endblock %}

{% block content %}

<h1>Payment {{payment.external_id}} to a merchant {{payment.merchant_id}}</h1>
	<table class="table">
		<tr><td >Status:</td><td id="status" class="table-{{payment.color()}}">{{payment.status}}</td></tr>
		{% if payment.time_until_expired().is_some() -%}
		<tr><td >Expired in:</td><td id="expired_in">{{payment.time_until_expired().unwrap()|duration}}</td></tr>
		{%- endif %}
		<tr><td>Amount: </td><td>{{payment.amount}}</td></tr>
		<tr><td>Message: </td><td>{{payment.message}}</td></tr>
		{% if payment.status == TransactionStatus::InChain -%}
		<tr><td >Confirmations:</td><td id="confirmations">{{payment.current_confirmations(current_height)}}/{{payment.confirmations}}</td></tr>
		{%- endif %}
		{% if payment.status == TransactionStatus::Confirmed -%}
		<tr><td >Confirmations:</td><td >{{payment.confirmations}}/{{payment.confirmations}}</td></tr>

			{% if !payment.reported -%}
		<tr><td colspan=2 id="unreported" class="table-info">Wait a second we will notify the merchant...</td></tr>
		    {% else %}
				{% if payment.redirect_url.is_some() -%}
				<tr><td colspan=2 id="all_done" class="table-success">All done! Please click <a href="{{payment.redirect_url.clone().unwrap()}}">{{payment.redirect_url.clone().unwrap()}} </a> to return to the shop page</td></tr>
		    	{% else %}
		<tr><td colspan=2 id="all_done" class="table-success">All done! You can return to the shop page</td></tr>
				{%- endif %}
			{%- endif %}
		{%- endif %}

		{% if payment.status == TransactionStatus::New -%}
		<tr><td colspan=2>Send {{payment.grin_amount|grin}} to:</td></tr>
		<tr><td colspan=2><pre>grin wallet send -s smallest -d {{payment_url}} {{payment.grins().amount()}}</pre></td></tr>
		<tr><td colspan=2>Or <a href="{{ironbelly_link}}" >pay with Irobelly </a> </br>
			<img src="data:image/png;base64,{{ironbelly_qrcode}}">
		</td></tr>
		{%- endif %}
	</table>
	<script>


		function update_status(){
			$.ajax({
				url: "/merchants/{{payment.merchant_id}}/payments/{{payment.id}}/status",
				type: 'get',
				data: {},
				success: function(data){
					// Perform operation on return value
					$("#confirmations").text(`${data.current_confirmations}/${data.required_confirmations}`);
					$("#expired_in").html(data.expired_in);
					if ($("#status").text()!=data.status) {
						location.reload();
					};
					if (data.reported) {
						location.reload();
					}
				},
				complete:function(data){
					if (!data.reported) {
						setTimeout(update_status,5000);
					}
				}
			});
		}

window.onload = function() {
 setTimeout(update_status,5000);
}

	</script>

{% endblock %}
